/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, header, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}


ol, ul {list-style: none;
}

blockquote, q {quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------*/


/*--------------------------- FONTS---------------------------------*/

 h1 {
	text-align: center;
	font-size: 25px;
	background: gray;
	color:white;
	padding: 1px;
	/*background-size: 110%;*/
	position:relative;
	/*width: 100px;*/
	line-height: 100%;
	/*text-transform: uppercase;*/
	margin-left: auto;
	margin-right:auto;
}

/**************************** GLOBAL **************************************/

.wrapper {
	height: 100%;
	margin:0;
	padding: 0;
	min-width: 1020px;
	position:relative;
}

html {
	background: url("pattern-1-18per.png")repeat;
/*	background-size: 1350px;*/
	background-attachment: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
}

/*body {	
	background: url("skyline-crop.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
	z-index:0;
}*/

.lineright, .lineleft {
	height: 5px;
	background-color: gray;

}

/***************************************** NAV *******************************************/
/*.container {
	position: relative;
	width: 1080px;
	height:200px;
}*/
.nav{
	position: fixed;
	width: 100%;
	height:161px;
	padding-top: 10px;
	background: white;
	top: 0;
	z-index:1;
	margin-bottom: 20px;
	min-width: 1020px;
}

.left {
	position: relative;
	float: left;
	width: 30%;
	display: block;
	width: 400px;
	height: 200px;
	padding-top: 31px;
	padding-left: 41px; /*This should be equal to margin-left on .right nav for balance */
}

.left ul {
	margin-left: 264px;
	margin-top: -15px;
	padding: 10px 0;
}

.left ul li {
	padding: 10px 10px 0 0;
	display: inline;
	margin:0;
}

.left ul li img {
	height: 20px;
}

.left h2 {
	margin-left: 46px;
	font-size: 18px; 
	font-style: italic;
	color: gray;
	padding-bottom: 0;
	margin-bottom: 0;
}

.left p {
	margin-left: 45px;
	color: gray;
	font-size: 13px;
	font-family: sans-serif;
	font-style: italic;
	padding: 3px 0;
}

#logo {
	width: 135px;
	position:relative;
	margin-left: auto;
	margin-right:auto;
}

#logo img {
	width: 100%;
}

.right {
	position:relative;
	float: right;
	height: 200px;
	width: 400px;
}

.right ul li {
	display: inline;
	padding: 10px 8px 10px;
	display: relative;
	color: gray;
	font-family: sans-serif;
	font-size: 14px;
/*	border-right: 2px solid gray;*/	
	line-height: 10px;
	margin:0;
}

.right ul {
	list-style:none;
	margin-top: -140px;
	margin-left: -41px;
}



#nav_guide {
	background: url("header-zig-zag.png") no-repeat;
	width: 742px;
	height: 97px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -41px;
	z-index: 10;
	/*position:fixed;*/

}

/************************************* CONTENT ****************************************/

.content {
/*	margin-top: 300px;*/
	z-index: -1;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	
}

.content hr {
	width: 250px;
	height: 5px;
	color: gray;
	background-color: gray;
}

/************************************* ABOUT ****************************************/
#aboutcontent {
	margin-top: 300px;
	margin-left: auto;
	margin-right:auto;
	width: 650px;
	position:relative;
}

#aboutcontent .lineright  {
	float: right;
	margin-top: -34px;
	margin-bottom: 20px;
	width: 250px;
}

#aboutcontent .lineleft {
	float: left;
	margin-top: -34px;
	margin-bottom: 20px;
	width: 250px;
} 


/*/*
.about {
	width: 650px;*/
	/*position:relative;
	margin-top: -40px;
	margin-left: 180px;*/
/*/*/

#aboutcontent h1 {
	width: 127px;
}

#skyline {
	position:relative;
	text-align: center;
}

#skyline img {
	width: 1020px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

/************************************* PORTFOLIO ****************************************/

#portfolio {
	position:relative;
	width: 650px;
	margin-top: 0;
}

#portfolio h1 {
	width: 210px;
}

#portfolio .lineright  {
	float: right;
	margin-top: -32px;
	margin-bottom: 20px;
	width: 210px;
}

#portfolio .lineleft {
	float: left;
	margin-top: -32px;
	margin-bottom: 20px;
	width: 210px;
} 
/*
#caption {
	margin-right: auto;
	margin-left:auto;
}*/

#caption p {
	width: 593px;
	line-height: 20px;
	height: 20px;
	font-family: sans-serif;
	font-size: 14px;
	color: gray;
	background-color: white;
	opacity: 0.8;
	/*position:absolute;*/
	margin-top: -61px;
	margin-left: auto;
	margin-right: auto;
	z-index: 30;
	padding: 10px;
}

.content .more {
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
	width: 68px;

}

.content .more h1 {
/*	margin-top: 10px;*/
	width: 68px;
	padding: 3px;
}
/*
#overlay {
	z-index: 100;
}*/

/*#skyline {
	background: url("skyline-crop.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
}*/

/********************************** PORTFOLIO ***************************************/

#portfolio img {
	width: 650px;
}

/********************************** BLOG ***************************************/

#blog h1 {
	width: 213px;
}

#blog .lineleft {
	float: left;
	margin-top: -32px;
	margin-bottom: 20px;
	width: 210px;
}

#blog .lineright {
	float: right;
	margin-top: -32px;
	margin-bottom: 20px;
	width: 210px;
}
#blog h3 {
	margin-top: 0;
	margin-bottom: 5px;
}

#blog h4 {
	font-size: 10px;
	margin: 0;
	font-style: italic;
	padding: 5px;
}
#blog p {
	font-size: 14px;
	margin-left:0;
}

#blog img {
	width: 300px;
	float: left;
}

#truncated_post {
	width: 325px;
	font-family: sans-serif;
	color: gray;
	text-align: left;
	float: left;
	margin-left: 20px;
}
/*
#blog .more h1 {
	width: 68px;
	padding: 3px;
}*/

/* .more {
	margin-top: 10px;
	width: 68px;
	padding: 3px;
}*/

#blog .more {
	margin-top: 0;
	margin-left:auto;
	margin-right:auto;
}

#blog .more h1 {
/*	margin-top: 10px;*/
	width: 68px;
	padding: 3px;
	height: 29px;
	margin-top: 263px;
	position: relative;
}

#blog a {
	text-decoration: none;
	color:gray;
	font-size: 10px;
	font-family: sans-serif;
	font-style: italic;
}
/* ******************************** TWITTER BAR ***********************************/

.twitterbar {
	height: 50px;
	line-height: 50px;
	padding-bottom: 20px;
}

.twitterbar img, h5, p{
	float:left;
	margin:5px;
}

.twitterbar h5 {
	font-family: sans-serif;
	color:gray;
	font-size: 12px;
	font-style: italic;
}

.twitterbar p {
	font-family: sans-serif;
	font-size: 13px;
	color:gray;
}

.twitterbar hr {
	width: 650px;
}

