/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, header, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}


ol, ul {list-style: none;
}

blockquote, q {quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------*/

.wrapper {
	height: 100%;
	margin:0;
	padding: 0;
	min-width: 1080px;
	position:relative;
}

html {
	background: url("pattern.png")no-repeat;
	background-size: 1350px;
	background-attachment: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
}

/*body {	
	background: url("skyline-crop.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
	z-index:0;
}*/


.container {
	position: relative;
	width: 1080px;
	height:200px;
}
.nav{
	position: fixed;
	width: 100%;
	height:200px;
	padding-top: 10px;
	background: white;
	top: 0;
	z-index:1;
	margin-bottom: 20px;
}

.left {
	position: relative;
	float: left;
	width: 30%;
	display: block;
	width: 400px;
	padding-top: 31px;
	padding-left: 41px; /*This should be equal to margin-left on .right nav for balance */
}

.left ul {
	margin-left: 264px;
	margin-top: -57px;
	padding: 10px 0;
}

.left ul li {
	padding: 10px 10px 0 0;
	display: inline;
	margin:0;
}

.left ul li img {
	height: 20px;
}

.left h2 {
	margin-left: 46px;
	font-size: 18px; 
	font-style: italic;
	color: gray;
	padding-bottom: 0;
	margin-bottom: 0;
}

.left p {
	margin-left: 45px;
	color: gray;
	font-size: 13px;
	font-family: sans-serif;
	font-style: italic;
	padding: 3px 0;
}

#logo {
	width: 135px;
	position:relative;
	margin-left: auto;
	margin-right:auto;
}

#logo img {
	width: 100%;
}

.right {
	position:relative;
	float: right;
	width: 400px;
}

.right ul li {
	display: inline;
	padding: 10px 8px 10px;
	display: relative;
	color: gray;
	font-family: sans-serif;
	font-size: 14px;
/*	border-right: 2px solid gray;*/	
	line-height: 10px;
	margin:0;
}

.right ul {
	list-style:none;
	margin-top: -140px;
	margin-left: -41px;
}



#nav_guide {
	background: url("nav_guide.png") no-repeat;
	width: 895px;
	height: 97px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -46px;
	z-index: 10;
	/*position:fixed;*/

}

.content {
	margin-top: 330px;
	z-index: -1;
	width: 650px;
	margin-left: 215px;
	margin-right: 215px;
	height: 100%;
	
}

hr {
	width: 250px;
	height: 5px;
	color: gray;
	background-color: gray;
}

#about {
	width: 650px;
	position:absolute;
	margin-top: -40px;
	/*margin-left: 180px;*/
}

#about h1 {
	width: 127px;
}

#about img {
	width: 1080px;
	margin-left: -215px;
	margin-top: 10px;
}

#portfolio {
	position:absolute;
	width: 650px;
	margin-top: 300px;
}

#portfolio h1 {
	width: 210px;
}

.lineright  {
	float: right;
	margin-top: -29px;
	margin-bottom: 20px;
}

.lineleft {
	float: left;
	margin-top: -29px;
	margin-bottom: 20px;
} 

#caption {
	width: 593px;
	line-height: 20px;
	height: 20px;
	font-family: sans-serif;
	font-size: 14px;
	color: gray;
	background-color: white;
	opacity: 0.8;
	/*position:absolute;*/
	margin-top: -44px;
	margin-left: auto;
	margin-right: auto;
	z-index: 30;
	padding: 10px;
}

.more {
	margin-top: 27px;
	margin-left:auto;
	margin-right:auto;
}

#about .more h1 {
/*	margin-top: 10px;*/
	width: 68px;
	padding: 3px;
}

/*#skyline {
	background: url("skyline-crop.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
}*/

 h1 {
	text-align: center;
	font-size: 25px;
	background: gray;
	color:white;
	padding: 1px;
	/*background-size: 110%;*/
	position:relative;
	/*width: 100px;*/
	line-height: 100%;
	/*text-transform: uppercase;*/
	margin-left: auto;
	margin-right:auto;
}